@import url("https://fonts.googleapis.com/css?family=Lato:300,400&display=swap");

body {
  background: linear-gradient(to top, #222831, #222839);
  font-family: "Lato";
  font-weight: 300;
}

.carousel__container {
  width: 960px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}

.box {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: default;
}

.insidebox {
  height: 50%;
  width: 30em;
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.32);
  background-color: #0b141a;
  border-radius: 10px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  align-items: center;
  color: white;
}

.header {
  display: flex;
  justify-content: center;
  align-self: center;
  font-weight: 300;
  font-size: 2.7em;
}

.cardText {
  padding-left: 1em;
  height: 100%;
}

.inputarea {
  display: flex;
  justify-content: center;
  align-items: start;
  height: 100%;
  width: 100%;
}

#inputdate {
  padding: 0.4em;
  border-radius: 0.2em;
  border: none;
}

input {
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.32);
  border: none;
}

.text {
  background-color: transparent;
  color: white;
  border-radius: 10px;
  padding: 1em;
  margin-top: -0.5em;
}

.submitbuttonbox {
  display: flex;
  height: 100%;
  padding: 2em;
  width: 100%;
  justify-content: center;
}

.btn {
  background: rgb(17, 73, 100);
  padding: 1em 3em;
  text-decoration: none;
  color: white;
  border-radius: 4px;
  transition: all 0.5s;
}

.btn:hover {
  box-shadow: -1px 4px 17px 1px rgba(6, 6, 6, 0.36);
}

#message {
  background-color: white;
  height: 2em;
  width: 11em;
  position: absolute;
  padding: 1em;
  border-radius: 10px;
  left: 2em;
  top: 2em;
}

/* rangeslider */

#output {
  position: relative;
  top: -2em;
  left: -2em;
  color: white;
}

#message {
  background-color: white;
  height: 2em;
  width: 11em;
  position: absolute;
  padding: 1em;
  border-radius: 10px;
  left: 2em;
  top: 0;
}

@media only screen and (max-width: 600px) {
  .box {
    padding-top: 30%;
    margin: 0;
  }
}

.range {
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 40%;
  margin-top: 3em;
}

input[type="range"]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  background: rgba(59, 173, 227, 1);
  background: -moz-linear-gradient(
    45deg,
    rgba(59, 173, 227, 1) 0%,
    rgb(53, 127, 189) 25%,
    rgb(124, 49, 167) 51%,
    rgb(130, 34, 207) 100%
  );
  background: -webkit-gradient(
    left bottom,
    right top,
    color-stop(0%, rgba(59, 173, 227, 1)),
    color-stop(25%, (53, 127, 189)),
    color-stop(51%, rgb(124, 49, 167)),
    color-stop(100%, rgb(130, 34, 207))
  );
  background: -webkit-linear-gradient(
    45deg,
    rgba(59, 173, 227, 1) 0%,
    rgb(53, 127, 189) 25%,
    rgb(124, 49, 167) 51%,
    rgb(130, 34, 207) 100%
  );
  background: -o-linear-gradient(
    45deg,
    rgba(59, 173, 227, 1) 0%,
    rgb(53, 127, 189) 25%,
    rgb(124, 49, 167) 51%,
    rgb(130, 34, 207) 100%
  );
  background: -ms-linear-gradient(
    45deg,
    rgba(59, 173, 227, 1) 0%,
    rgb(53, 127, 189) 25%,
    rgb(124, 49, 167) 51%,
    rgb(130, 34, 207) 100%
  );
  background: linear-gradient(
    45deg,
    rgba(59, 173, 227, 1) 0%,
    rgb(53, 127, 189) 25%,
    rgb(124, 49, 167) 51%,
    rgb(130, 34, 207) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3bade3 ', endColorstr='#ff357f ', GradientType=1 );
  height: 3px;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-moz-range-track {
  -moz-appearance: none;
  background: rgba(59, 173, 227, 1);
  background: -moz-linear-gradient(
    45deg,
    45deg,
    rgba(59, 173, 227, 1) 0%,
    rgb(53, 127, 189) 25%,
    rgb(124, 49, 167) 51%,
    rgb(130, 34, 207) 100%
  );
  background: -webkit-gradient(
    left bottom,
    right top,
    color-stop(0%, rgba(59, 173, 227, 1)),
    color-stop(25%, (53, 127, 189)),
    color-stop(51%, rgb(124, 49, 167)),
    color-stop(100%, rgb(130, 34, 207))
  );
  background: -webkit-linear-gradient(
    45deg,
    rgba(59, 173, 227, 1) 0%,
    rgb(53, 127, 189) 25%,
    rgb(124, 49, 167) 51%,
    rgb(130, 34, 207) 100%
  );
  background: -o-linear-gradient(
    45deg,
    rgba(59, 173, 227, 1) 0%,
    rgb(53, 127, 189) 25%,
    rgb(124, 49, 167) 51%,
    rgb(130, 34, 207) 100%
  );
  background: -ms-linear-gradient(
    45deg,
    rgba(59, 173, 227, 1) 0%,
    rgb(53, 127, 189) 25%,
    rgb(124, 49, 167) 51%,
    rgb(130, 34, 207) 100%
  );
  background: linear-gradient(
    45deg,
    rgba(59, 173, 227, 1) 0%,
    rgb(53, 127, 189) 25%,
    rgb(124, 49, 167) 51%,
    rgb(130, 34, 207) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3bade3 ', endColorstr='#ff357f ', GradientType=1 );
  height: 2px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 2px solid;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  max-width: 80px;
  position: relative;
  bottom: 11px;
  background-color: #1d1c25;
  cursor: -webkit-grab;
  -webkit-transition: border 1000ms ease;
  transition: border 1000ms ease;
}

input[type="range"]::-moz-range-thumb {
  -moz-appearance: none;
  border: 2px solid;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  max-width: 80px;
  position: relative;
  bottom: 11px;
  background-color: #1d1c25;
  cursor: -moz-grab;
  -moz-transition: border 1000ms ease;
  transition: border 1000ms ease;
}

.range.blue::-webkit-slider-thumb {
  border-color: rgb(59, 173, 227);
}

.range.ltpurple::-webkit-slider-thumb {
  border-color: rgb(53, 127, 189);
}

.range.purple::-webkit-slider-thumb {
  border-color: rgb(124, 49, 167);
}

.range.pink::-webkit-slider-thumb {
  border-color: rgb(130, 34, 207);
}

.range.blue::-moz-range-thumb {
  border-color: rgb(59, 173, 227);
}

.range.ltpurple::-moz-range-thumb {
  border-color: rgb(53, 127, 189);
}

.range.purple::-moz-range-thumb {
  border-color: rgb(124, 49, 167);
}

.range.pink::-moz-range-thumb {
  border-color: rgb(130, 34, 207);
}

input[type="range"]::-webkit-slider-thumb:active {
  cursor: -webkit-grabbing;
}

input[type="range"]::-moz-range-thumb:active {
  cursor: -moz-grabbing;
}
