@import url("https://fonts.googleapis.com/css?family=Oswald");
body {
  font-family: "Oswald", sans-serif;
  margin: 0;
}
* {
  box-sizing: border-box;
}

.box {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}
@media (min-width: 400px) {
  .box {
    width: 85%;
    padding: 0;
  }
}
@media (min-width: 550px) {
  .box {
    width: 80%;
  }
}

.box:after {
  content: "";
  display: table;
  clear: both;
}
#nav {
  display: block;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  background: black;
  opacity: 1;
  position: absolute;
  top: 0;
  padding: 50px 0;
  overflow: hidden;
}
nav ul {
  list-style-type: none;
  padding: 0;
}
nav ul li {
  color: white;
  font-size: 15vh;
  text-transform: uppercase;
  overflow: hidden;
  font-weight: 700;
}
nav ul li:first-child {
  font-size: 8vh;
  overflow: visible;
}

nav ul li:last-child {
  font-size: 6vh;
  color: #3287b8;
  overflow: visible;
}

@media (max-width: 750px) {
  nav ul li {
    font-size: 15vw;
  }
  nav ul li:first-child {
    font-size: 8vw;
  }
}
nav a {
  color: white;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  -moz-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s ease;
  text-decoration: none;
}
nav a:hover {
  color: #3287b8;
}
<<<<<<< HEAD

.links a {
  color: #484848;
  color: white;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  -moz-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  text-decoration: none;
}
.links a:hover {
  color: #f24738;
}
=======
>>>>>>> dateSelection
