.box {
  height: 75vh;
  width: 75vw;
}

canvas {
  height: 100%;
  width: 100%;
}

body {
  background-color: #263238;
}

#select {
  width: 10em;
  height: 2em;
  border-radius: 0.3em;
  margin-left: 3em;
}

#monthText {
  color: white;
  font-family: sans-serif;
  margin-left: 3em;
}
