<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mood</title>
    <link rel="stylesheet" type="text/css" href="/static/forum.css" />
  </head>
  <body>
    {% with messages = get_flashed_messages() %} {% if messages%} {% for message
    in messages %} {{ message }} {% endfor %} {% endif %} {% endwith %}

    <div class="box">
      <form action="/mood" method="post">
        <input
          type="date"
          id="dateinput"
          placeholder="yyyy-mm-dd"
          name="date"
        />
        <textarea placeholder="Comments..." name="comment"></textarea>
        <input
          type="range"
          min="0"
          max="50"
          value="0"
          class="range blue"
          name="moodrating"
        />
        <p id="output">0</p>
        <button id="submit">Submit</button>
      </form>
    </div>
    <script src="/static//forum.js"></script>
  </body>
</html>
