<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
    <title>Moody</title>
    <link rel="stylesheet" href="/static/month.css" />
  </head>
  <body>
    <div class="box">
      <canvas id="canvas"></canvas>
      <!-- <form action="/month" method="post" id="userInput">
        <input type="text" name="month" />
        <input type="text" name="year" />
        <button type="submit">SUBMIT</button>
      </form> -->
    </div>
    <script src="/static/month.js"></script>
  </body>
</html>
